header a {
    color: var(--accent-cyan);
    text-decoration: none;
    font-size: var(--font-size-m);

}

.headerLeftTop {
    display: flex;
    gap: 4px;
    align-items: center;
    font-family: "Lexend Exa", sans-serif;
}

#logo {
    height: 36px;
    width: 36px;
}

#mode {
    background-color: var(--header-top);
    border: 0.3px solid var(--stroke);
    border-radius: 100%;
    cursor: pointer;
}